@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Inter;
	src: url("../fonts/inter.ttf");
}

body {
	font-family: Inter;
}

body::-webkit-scrollbar {
	width: 0%;
}
