@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Inter;
	src: url("../fonts/inter.ttf");
}

body {
	font-family: Inter;
}

body::-webkit-scrollbar {
	width: 0%;
}

@layer utilities {
	.padding-x {
		@apply px-[150px] md:px-[30px] sm:px-[20px] xm:px-[20px];
	}

	.padding-y {
		@apply py-[70px] lg:py-[60px] md:py-[50px] sm:py-[40px] xm:py-[40px];
	}

	.heading {
		@apply text-[60px] leading-[74px] md:text-[50px] md:leading-[60px] sm:text-[35px] sm:leading-[43px] xm:text-[35px] xm:leading-[43px];
	}

	.gaping {
		@apply gap-20 md:gap-14 sm:gap-8 xm:gap-8;
	}

	.paragraph {
		@apply text-[22px] leading-[40px] md:text-[16px] md:leading-[30px] sm:text-[16px] sm:leading-[30px] xm:text-[16px] xm:leading-[30px];
	}

	.sub-paragraph {
		@apply xl:text-[21px] xl:leading-[31px] text-[16px] leading-[24px];
	}

	.small-text {
		@apply xl:text-[16px] xl:leading-[24px] lg:text-[16px] lg:leading-[24px] text-[14px] leading-[22px];
	}
}
